# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:deployment-name

VITE_CONVEX_URL=https://deployment-name.convex.cloud
VITE_CONVEX_SITE_URL=https://deployment-name.convex.site
CONVEX_URL=https://deployment-name.convex.cloud
CONVEX_SITE_URL=https://deployment-name.convex.site

# Your local site URL
SITE_URL=http://localhost:3000
VITE_SITE_URL=http://localhost:3000
